/newplot.png
DS_2_5_Types_of_visualization.ipynb
DS_2_5_Visualization_Pandas.ipynb
DS_2_5_Visualization_Seaborn.ipynb
DS_2_5_Visualizaion_Matplotlib.ipynb
DS_2_5_Visualization_Plotly.ipynb
Feedback.ipynb
Theory_visualisation.ipynb
*.csv
!churn.csv
How to choose chart.png
Recommended visualisations.ipynb
Theory_visualisation.ipynb